<div class="display-container">
    <div class="display-container-cell">
        <div class="auth-block">
            <div class="title resetPasswordTitle">
                <img class="logo"
                src="assets/images/Logo.png"/>
                <img class="dashboardTitle"
                    src="assets/images/AdminDashboard.png"/>
                <h1 class="titleText"> Reset Password </h1>
            </div>

            
            <div class="formGroup">
                <input type="text" 
                class="formControl"
                placeholder="Email address"
                #email 
                required
                >
            </div>
            <div class="formGroup"> 
                <button type="button" class="btn googleBtn"
                (click)="authService.forgotPassword(email.value)"
                >Reset password</button>
            </div>
            <div class="redirect-to-login">
                <span class="redirect">
                    Go back? <a routerLink="/login">Sign In</a>
                </span>
            </div>
        </div>
        
    </div>
</div>
