<div class="chat-box">
    <div class="messages" fxFlex="120">
        <div class="input">            
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Annouce to Room</mat-label>
                <textarea [(ngModel)]="newMessage" matInput placeholder="Make a new announcement"></textarea>
            </mat-form-field>
                
            <button mat-mini-fab class="submit-btn"
                [disabled]="!newMessage"
                [ngStyle]="newMessage && {color: 'white', backgroundColor: '#66BB6A'}"
                (click)="onSubmit()" >
                <mat-icon>message</mat-icon></button>
        </div>
        
        <div class="messages-box">
            <div *ngFor="let message of adminChatRoomMessages">
                <div [ngStyle]="message.isTask 
                            && {backgroundColor: 'rgb(205, 91, 91, 30%)'}">
                    <p><b>{{message.adminId}} - {{message.timestamp?.toDate().toLocaleString() }}</b></p>
                    <p *ngIf="!message.message?.includes('http')">{{ message.message }}</p>
                    <a [href]="message.message" rel="nonoreferrer" target="_blank" *ngIf="message.message?.includes('http')">{{message?.message}}</a>
                </div>
            </div>
        </div>
            
    </div>
</div>