<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="handleToggleSidebar()">menu</mat-icon>
        </button>
        <span><img width="35px" src="assets/images/AdminAvatar.png"/> Meow Dashboard!~</span>
        <div fxFlex fxLayout="Row" fxLayoutAlign="flex-end">
            <ul fxLayout="Row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button (click)=onShowAboutSection()>
                        <mat-icon>info_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <a (click)="onSignOut()">
                    <button mat-icon-button>
                        <mat-icon>exit_to_app</mat-icon>
                    </button>
                    </a>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>