$darkest: #19303E;
$dark-main: #355061; 
$light-main: #80CBC4;

ul li {
    list-style: none;
    align-content: center;
}

ul {
    margin: 0;
    display: flex;    
}

.mat-toolbar {
    background-color: $dark-main;
    border-bottom: 2px solid white;
    display: flex;    
    overflow: hidden;
}

.mat-toolbar-row {
    height: 50px;
}

.mat-toolbar-multiple-rows {
    min-height: 50px;
}