<div class="ongoing-task" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="120px">
    <div fxFlex="120" >
        <div>           
            <mat-form-field *ngIf="!adding" color="warn"
                            fxFlex="30" appearance="outline">
                <mat-label>Searching</mat-label>
                <input matInput #filter 
                (keyup)="applyFilter($event.target.value)"
                >
                <button mat-icon-button matSuffix
                *ngIf="filter.value"
                (click)="filter.value=''; applyFilter('')"
                ><mat-icon>close</mat-icon></button>
            </mat-form-field>
            
            <mat-paginator fxFlex="120" [pageSizeOptions]="[10, 20]"></mat-paginator>
            
        </div>

        <div *ngIf="loading">
            <app-progress-bar></app-progress-bar>
        </div>
        
        <div class="mat-elevation-z8" *ngIf="!loading">
            <div fxFlex="120" >
                <table mat-table multiTemplateDataRows [dataSource]="dataSource">
                    <ng-container matColumnDef="no">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell *matCellDef="let element"> {{ element.no }} </td>
                    </ng-container>

                    <ng-container matColumnDef="task">
                        <th mat-header-cell *matHeaderCellDef>Task</th>
                        <td mat-cell *matCellDef="let element"> {{ element.task }} </td>
                    </ng-container>

                    <ng-container matColumnDef="from">
                        <th mat-header-cell *matHeaderCellDef>From</th>
                        <td mat-cell *matCellDef="let element"> {{ element.from }} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="taskGiverId">
                        <th mat-header-cell *matHeaderCellDef>Task Giver Id</th>
                        <td mat-cell *matCellDef="let element"> 
                            {{ element.userId? element.userId : element.adminId }} 
                        </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="to">
                        <th mat-header-cell *matHeaderCellDef>Task Giver Id</th>
                        <td mat-cell *matCellDef="let element"> {{ element.to }} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="taskMessage">
                        <th mat-header-cell *matHeaderCellDef>Task Message</th>
                        <td mat-cell *matCellDef="let element"> {{ element.taskMessage }} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="date_completed">
                        <th mat-header-cell *matHeaderCellDef>Date Complete</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.completedDate.toDate().toLocaleString() }} 
                        </td>
                    </ng-container>
                        
                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                            <div class="element-detail"
                                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">                         

                                <div *ngIf="gettingInfo">
                                    <app-progress-bar></app-progress-bar>
                                </div>

                                <div class="action-btns">
                                    <ng-container *ngIf="element.from == 'admin'">
                                        <button mat-mini-fab
                                            [disabled]="showInfo"
                                            [ngStyle]="!showInfo && {color: 'white', backgroundColor: '#355061'}"
                                            (click)="getAdminInfo(element.adminId)"
                                            ><mat-icon>perm_identity</mat-icon></button>
                                        </ng-container>
                                        <ng-container *ngIf="element.from == 'user'">
                                            <button mat-mini-fab
                                            [disabled]="showInfo"
                                            [ngStyle]="!showInfo && {color: 'white', backgroundColor: '#355061'}"
                                            (click)="getUserInfo(element.userId)"
                                            ><mat-icon>perm_identity</mat-icon></button>
                                    </ng-container>
                                </div>

                                <div *ngIf="showInfo">
                                    <div class="info" *ngIf="!gettingInfo">
                                        <h2 class="header-h2">Info</h2>
                                        <h3>Date created: {{element.timestamp.toDate().toLocaleString()}}</h3>
                                        <ng-container *ngIf="element.from == 'admin'">
                                            <h3>From Admin : {{taskGiverInfo?.username}}</h3>
                                            <h3>Admin email : {{taskGiverInfo?.email}}</h3>
                                        </ng-container>
                                        
                                        <ng-container *ngIf=" element.from == 'user'">
                                            <h3>Username : {{taskGiverInfo? taskGiverInfo.username : 'User is deleted'}}</h3>
                                            <h3>Nickname : {{taskGiverInfo? taskGiverInfo.nickname : 'User is deleted'}}</h3>
                                            <h3>Email : {{taskGiverInfo? taskGiverInfo.email : 'User is deleted'}}</h3>
                                        </ng-container>
                                        <h3>Completed By: {{element.completedBy}}</h3>
                                        <h3>Completed Date: {{element.completedDate.toDate().toLocaleString()}}</h3>
                                    </div>    
                                </div>
                            </div>
                        </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                        class="element-row"
                        [class.expanded-row]="expandedElement === element"
                        (click)="expandedElement = expandedElement === element ? null : element;         
                        taskGiverInfo = null; showInfo = false">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
                </table>
            </div>            
        </div>
    </div>
</div>