$special-font: 'Brush Script MT', cursive;
$text-header: #4527A0;
$table-th: coral;
$darkest: #19303E;
$dark-main: #355061; 
$light-main: #80CBC4;

.ongoing-task {
    margin-top: 20px;
}

.mat-elevation-z8 {
    margin-top: 10px;
}

.mat-paginator {
    background-color: transparent;
}

.mat-header-cell, .mat-cell {
    text-align: center;
    padding: 0 5px;
}

.mat-column-task:not(th) {
    text-align: left;
    font-size: 12pt;
    color: darkcyan;
}

.mat-column-id, .mat-column-date_created, .mat-column-to {
    width: 15%;
    .mat-icon {
        font-size: 20px;
    }
}

.mat-column-task {
    width: 19%;
}

.mat-column-assigned, .mat-column-from {
    width: 10%;
}

.mat-column-action {
    width: 11%;
}

button {
    margin: 8px;
    margin-right: 0;
}

.add-new-user-form {
    margin: 10px 20px;

    h1 {
        font-family: $special-font;
        margin-left: 10px;
        color: $text-header;
    }

}

.add-new-user-form .mat-form-field {
    margin: 0px 20px;
}

.task {
    width: 640px;
}

.to, .adminId {
    width: 300px;
}

h2 {
    margin-left: 30px;
}
