$light-main: #80CBC4;

.info {
    margin-top: 10px;
}

.emailSent {
    font-size: 14pt;
    margin-bottom: 5px;
}

.emailAddress {
    padding:5px;
    word-break: break-word;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font-size: 13pt;
}