#chart {
    padding: 20px;
}

.polar-area-container {
    height: 100%;
    position: relative;
    flex: 1.2;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.mat-mini-fab {
    position: absolute;
    left: 0;
}