/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$white: white;
$darkest: #19303E;
$dark-main: #355061; 
$mid-main: DarkCyan;
$light-main: #80CBC4;
$special-font: 'Brush Script MT', cursive;
$option-hover: rgba($light-main, 40%);
$text-header: #4527A0;
$table-no: $dark-main;
$table-th: white;
// aquamarine salmonvava

.coral {
    color: coral;
}

.mat-table { 
    width: 100%;
}

.my-snack-bar {
    margin-top: 70px !important;
    margin-left: 240px !important;
    color: white;
    background-color: rgba($dark-main, 90%);
    max-width: 50%;
    button {
        color: aquamarine
    }
}

.mat-progress-bar {
    margin: 20px 0;
}

.mat-progress-bar-buffer {
    background-color: #80CBC4 !important;
}

.mat-progress-bar-fill {
    background-color: #80CBC4 !important;
}

.mat-progress-bar-fill::after {
    background-color: DarkCyan !important;
}

.header-h1 {
    margin: 0 0 0 10px;
    font-size: 24pt !important;
    font-weight: bold !important;
    font-family: $special-font !important;
    color: $dark-main !important;
}

.header-h2 {
    margin: 0 0 0 10px;
    font-weight: bold !important;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-size: 20pt !important;
    font-family: $special-font !important;
    color: $mid-main !important;
}

.header-h3 {
    margin: 0 0 0 5px;
}

th {
    background-color: rgba($dark-main, 90%);
    font-size: 12pt !important;
    font-family: $special-font;
    color: white !important;
    margin: 0;
}

.mat-column-no {
    width: 5%;
    font-weight: bold;
}

.title {
    margin: auto;
    position: relative;
    height: fit-content;

    .titleText {
        overflow: hidden;
        max-height: 120px;
        font-family: 'Brush Script MT', cursive !important;
        padding: 15px 0 0;
        font-weight: bold;
        word-break: break-all;

       :-webkit-scrollbar {
           width: 1px;
       }
    }
    
    .resetPasswordTitle {
        margin-top: 100px;
    }

    .signUpTitle {
        margin-top: 50px;
    }
    
    .dashboardTitle {
        position: absolute;
        top: 70px;
        right: 10%;
        z-index: 2;
        width: 200px;
    }
    
    .logo {
        z-index: 1;
        top: 5px;
        right: 50px;
        width: 100px;
    }
}


.display-container {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
    background-color: $dark-main;
    background-image: url('./assets/images/Background.jpg');
    background-position: center;
    background-size: cover;
    color: $darkest;
    outline: none;
    padding: 15px 0;
    display: table;
    text-align: center;
}

.display-container-cell {
    display: table-cell;
    vertical-align: middle;
}

.auth-block {
    position: relative;
    text-align: center;
    background: $dark-main;
    border: 10px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(black, 0.25);
    border-radius: 20px;
    width: 320px;
    color: white;
    padding: 20px;
    margin: 0 auto;

    span {
        font-size: 10pt;
    }
    
    a {
        text-decoration: none !important;
        color: aquamarine !important;
        font-size: 11pt;
    }
    
    a:hover {
        color: salmon !important;
    }
}

.display-container .btn {
    font-family: 'Brush Script MT', cursive;
    width: 75%;
    font-size: 12pt;
    background: $dark-main;
    cursor: pointer;
    outline: none;
    border: 2px solid white;
    padding: 4px;
    border-radius: 99px;
    margin: 5px;
    color: $white;
}

.display-container .btn:hover {
    border: 2px solid white;
    background: salmon;
    font-weight: bold;
}

.display-container .googleBtn {
    background-color: $darkest ;
    margin-bottom: 10px;
}

.display-container .googleBtn {
    background-color: $darkest ;
    margin-bottom: 10px;
}

.formGroup .btnPrimary {
    margin-bottom: 0px;
}

.formGroup .signUpBtn {
    margin-bottom: 5px;
}

.or {
    text-align: center;
    display: block;
    color: $white;
    font-size: 11pt;
}

.forgot-password .redirect-to-login {
    text-align: center;
    width: 100%;   
}


.formControl {
    text-align: center;
    width: 100%;
    font-weight: bold;
    border-radius: 30px;
    display: block;
    padding: 10px 15px;
    border: 4px solid $dark-main;
    outline: none;
    font-size: 13pt;
    background: #fcfcfc;
    color: $darkest;
}

.formControl::placeholder{
    font-weight: normal;
    color: $dark-main;
}

.formControl:focus {
    border: 4px solid $light-main;
}

.formGroup {
    width: 100%;
    margin-top: 5px;
}

.invalidAdminCode {
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    text-align: center;
    background: $dark-main;
    border: 10px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(black, 0.25);
    border-radius: 20px;
    width: 320px;
    color: white;
    padding: 20px;;
    margin: auto;
    
    h1, h3 {
        margin-bottom: 0;
    }
}

.resetPasswordTitle .blank {
    padding: 3px;
}