<div fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="20px"
    class="state-cards"
>
    <mat-card fxFlex="33">
        <app-card label="Users this Week" 
        total="9"
        ></app-card>
    </mat-card>
    <mat-card fxFlex="33">
        <app-card label="Users this Month" 
        [total]="totalMonthUsers"
        ></app-card>
    </mat-card>
    <mat-card fxFlex="33">
        <app-card label="Total Users" 
        [total]="totalUsers"
        ></app-card>
    </mat-card>
</div>
<br>
<mat-divider></mat-divider>

<div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
        <div fxFlex="50">
            <div class="mat-elevation-z8 task">
                <h3>None-Assigned Tasks</h3>
                <app-not-assigned-tasks></app-not-assigned-tasks>
            </div>            
            <div class="mat-elevation-z8">
                <h3>User accounts</h3>
                <table mat-table [dataSource]="userDataSource">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>id</th>
                        <td mat-cell *matCellDef="let element">{{element.id}}</td>
                    </ng-container>
                    <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef>username</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.username}}                           
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="password">
                        <th mat-header-cell *matHeaderCellDef>password</th>
                        <td mat-cell *matCellDef="let element">
                            <th mat-header-cell *matHeaderCellDef>password</th>
                            <td mat-cell *matCellDef="let element">
                            {{element.password}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="data_created">
                        <th mat-header-cell *matHeaderCellDef>data_created</th>
                        <td mat-cell *matCellDef="let element">{{
                            element.timestamp?
                                element.timestamp.toDate().toUTCString()
                                : "No date"    
                        }}</td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns">
                    <tr mat-row *matRowDef="let row; columns: displayedColumns">
                </table>
                <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
            </div>        
        </div>
        <div fxFlex="50">
            <app-polar-area></app-polar-area>
            <div class="mat-elevation-z8 task">
                <h3>None-Assigned Tasks</h3>
                <ul *ngFor="let task of tasks, let i = index">
                    <li *ngIf="!task.completed">
                        <mat-checkbox
                            [checked]="task.completed"
                            [color]="task.color"
                            (click)="update(task.completed, i)">
                        {{task.name}}
                        </mat-checkbox>
                    </li>
                </ul>
            </div>     
        </div>
    </div>
</div>