<div *ngIf="loading">
    <app-progress-bar></app-progress-bar>
</div>

<div *ngIf="!loading">
    <div fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayoutGap="20px"
        class="state-cards"
    >
        <mat-card class="month-users" fxFlex="25">
            <app-card 
            [label]="'Users this Month'"
            [total]="totalMonthUsers"
            ></app-card>
        </mat-card>
        <mat-card class="total-users" fxFlex="25">
            <app-card 
            [label]="'Total Users'"
            [total]="totalUsers"
            ></app-card>
        </mat-card>
        <mat-card class="ongoing-tasks" fxFlex="25">
            <app-card
                    [label]="'Ongoing Tasks'"
                    [total]="totalTasks"
            ></app-card>
        </mat-card>
        <mat-card class="total-rooms" fxFlex="25">
            <app-card 
            [label]="'Total Rooms'"
            [total]="rooms + userFriends + userRooms + userKeepbox"
            ></app-card>
        </mat-card>
    </div>
    <br>
    <mat-divider></mat-divider>


    <div class="tables-and-chart" fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">
        <div class="column" fxFlex="60">
            <div class="tasks" fxFlex="120">
                <h1 class="header-h1">Ongoing Tasks</h1>
                <app-mini-tasks-list></app-mini-tasks-list>
            </div>            

            <div class="chat-room" fxFlex="120">
                <h1 class="header-h1">Admin Chat Box</h1>
                <div class="chat-box">
                    <app-admin-chat-room></app-admin-chat-room>
                </div>
            </div>  

        </div>

        <div class="column" fxFlex="60">
            <h1 fxFlex="120" class="header-h1">All Room Types</h1>
            
            <div fxFlex="120">
                <app-polar-area fxFlex="120"
                                [chartRooms]="rooms"
                                [chartUserFriends_Admin]="userFriends_Admin"
                                [chartUserFriends_Personal]="userFriends_Personal"
                                [chartUserRooms]="userRooms"
                                [chartUserKeepbox]="userKeepbox"
                ></app-polar-area>
            </div>
            
            <div class="mini-users-list" fxFlex="120">
                <h1 class="header-h1">Reccently Signed Up</h1>
                <app-mini-users-list></app-mini-users-list>    
            </div>        

        </div>
    </div>

</div>